.footer-container {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F0F0F0;
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
    gap: 60px;
}
h4{
    color: #4F4F4F;
}

.footer-left{
    flex: 1;
    text-align: left;
    font-size: 14px;
}
.footer-left img{
    width: 30px;
    height: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    flex-direction: row;
}
.footer-social-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.footer-about{
    text-decoration: none;
    font-size: 14px;
}
.footer-about:hover h4{
    text-decoration: underline;
    color:black;
    cursor: pointer;
}
.footer-mid{
    flex: 1;
    text-align: left;
    font-size: 14px;
    color: #333;
}
.footer-help{
    text-decoration: none;
    font-size: 14px;
}
.footer-help:hover h4{
    text-decoration: underline;
    color: black;
    cursor: pointer;
}
.footer-right{
    flex: 1;
    text-align: left;
    font-size: 14px;
    color: #333;
}